<!doctype html>
<title>LTX - Where is a tax</title>


<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Jquery UI-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}" />


<script id = "" src="{{ url_for('static', filename='')}}"></script>

<div class = "header">
    <nav class = "navbar">
        <ul>
            <h4 style="">  </h4>
            <li class="{% if pid == 'leadership_style' %}active{% endif %}">
                <a href="{{ url_for('index', pid='leadership_style') }}"></a></li>
            <li class="active">
                <a href="{{ url_for('chart') }}">Chart</a></li>
        </ul>
    </nav>


<div class = "title">{% block title %}{% endblock %}</div></div>

<div class="contents"> {% block body %}{% endblock %} </div>


<div class="footer">
    <div class="col-xs-12 copyright">© LTX</div> <!-- end copyright -->
    <div class="col-xs-12 powered"></div><!-- end .powered -->
</div>

{% block script %}
{% endblock %}
